.navbar{
    position: fixed;
    top: 0;
    height: 65px;
    width: 100%;
    color: dimgray;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    z-index: 1000;
    /* background-color: #ff6d38; */
    /* background-color: #0066ff; */

    display: flex;
    align-items: center;
    justify-content:space-between;

    
}

.nav_logo{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
    cursor: pointer;
}

.services{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    font-size: 1rem;
    cursor: pointer;
}

.services img{
    position: fixed;
    top: 8px;
    height: 25px;
}

.services div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.services span{
  position: relative;
  top: 12px;
  font-weight:bolder;
}

.services a{
    text-decoration: none;
    color: dimgray;

    display: flex;
    align-items: center;
    justify-content: center;
}

.service_selected span{
    color: #ff6d38;
    padding-top: 12px;
    padding-bottom: 6px;
    border-bottom: #ff6d38 solid 4px;
}


.nav_button{
    height: 45px;
    width: 160px;
    font-size: 0.85rem;
    font-weight:600;
    background-color: transparent;
    border-radius: 5px;
    border: solid 1px #ff6d38;
    color: #ff6d38;
    outline: none;
    cursor: pointer;
    margin-right: 3rem;
    

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.nav_button svg{
    height: 21px;
    width: 21px;
}

.profile_box{
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ff6d38;
    font-weight: 510;
    margin-right: 20px;
}


.profile_box svg{
    height: 25px;
    width: 25px;
    cursor: pointer;
    color: #0066ff;
}